@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  min-height: 100vh;   /* Equivalent to min-h-screen */
  display: flex;         /* Equivalent to flex */
  flex-direction: column;/* Equivalent to flex-col */
  background-color: #1a1a1a;
}


